alias ap="./aperture.py init"

function edit() {
    lastcom=$(history 2 | head -n 1 | python3 -c "import sys; print(sys.stdin.read().split()[-1])")
    path="_repos/$(echo $lastcom | sed -Ee 's/https?:\/\/[[:alnum:]\-\.]+\///;s:/:_:').yaml"
    path2=$(echo $path | tr '[:upper:]' '[:lower:]')
    if [ "$path" = "" ]; then
        echo "Empty path given? Cannot edit"
        return
    fi
    if [ ! -f "$path" ]; then
        if [ ! -f "$path2" ]; then
            echo "$path does not exist"
            return
        fi
        path=$path2
    fi
    echo "Editing $path"
    code $path
}
